[Unit]
Description=Process Exporter for Prometheus
Documentation=https://github.com/prometheus/process_exporter
Wants=network-online.target
After=network-online.target

[Service]
User={{ process_exporter_user }}
Group={{ process_exporter_group }}
Type=simple
Restart=on-failure
ExecStart=/usr/bin/process-exporter --config.path {{ process_exporter_config_file }} --web.listen-address=:9256

[Install]
WantedBy=multi-user.target